*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenitore{
    width: 90%;
    margin: auto;
}

header{
    height: 20%;
}

main{

    height: 70%;

}


#set_logo{
    width: 150px;
    height: 60px;
    display: inline-block;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    font-family: arial;
    margin-right: 20px;
    color: rgb(69, 192, 151);
}

main{
    height: 80%;
}

.blocco_immagine{
   
    height:40%;
    background-color: chartreuse;
       
}

.leadership{
    height: 10%;

    background-color:blueviolet;
}

.center_container{
  
    height: 50%;
    background-color: cyan;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}

.left_block{
    float: left;
    background-color: darkgreen;
    width: 25%;
    height: 100%;

}

.center_block{
    float: left;
    background-color:yellow;
    height: 100%;
    width: 50%;
}

.right_block{
    float: right;
    width: 25%;
    background-color: red;
    height: 100%;
}

footer{
    height: 10%;
    
    background-color:chartreuse;
}
